.login{
  margin-top: -50px!important;
  padding-bottom: 35px;
  text-align: center;
  width: 100%;
}

.sign-up-link{
  font-weight: 700;
  color: #633A5A;
}

.nomargin{
  margin: 0;
}

.forgot-password-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forgot-password{
  font-weight: 500;
  font-size: 14px;
  color: #633A5A;
}


.forgot-password:hover{
  text-decoration: underline!important;
  cursor: pointer;
}


.toolbar_logo{
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

.animated{
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.login-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: AvenirNext-Medium,AvenirNext-Regular,Arial,sans-serif;
  font-size: 25px;
  width: 100%;
  color: #444444;
}

.login-container{
  margin: 0 auto;
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  transition: .2s all ease;
  text-align: center;
}

.login-label{
  color: #8d9494;
  font-family: AvenirNext-Medium,AvenirNext-Regular,Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
  display: block;
}

.input-text{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


::-webkit-input-placeholder { 
  color: #afafaf; text-overflow: ellipsis; 
}



.warning{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.warning a{
  color: #ff4949;
}

.submit-button {
  width: 100%;
  border-radius: 4px;
  display: block;
  color: #fff;
  background-color: #633A5A;
  outline: none;
  margin: 0;
  text-align: center;
  border-radius: 4px;

  outline: 0;
  transition: .2s all ease;
  font-family: AvenirNext-Medium, AvenirNext-Regular, Arial, sans-serif;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
}

.submit-button:hover {
  background-color: #38192D

}

.p-s-5 {
  padding-left: 15px;
  padding-right: 15px;
}

.divider {
  display: block;
  border-bottom: 1px solid #e1e3e3;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.divider-text {
  background-color: white;
  padding: 10px;
  padding-top: -2px;
}

.white {
  color: white;
}



.footer {
  text-align: center;
  margin-top: 40px;
}

.sign-up {
  display: block;
  margin: 0 auto;
}

.sign-up-link {
  font-weight: 700;
}

.checkbox {
  margin-right: 10px;
}

.login-label {
  color: #8d9494;
  font-family: AvenirNext-Medium, AvenirNext-Regular, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  display: block;
}

.input-text {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 20px;
}


.invite-code {
  margin-top: 15px;
  margin-bottom: 40px !important;
}



.text-field-login {
  background: #f9f9f9;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e1e3e3;
  border-radius: 4px;
  padding: 0 14px;
  font-size: 16px;
  color: #4e4d4d;
  line-height: 1.35;
  height: 48px;
  -webkit-appearance: none;
  font-family: inherit;
  transition: .2s all ease;
}

.text-field-login:hover {
  background: #fff;

}

.text-field-login:focus {
  border: 1px solid #878787;
  outline: none;
  background-color: #fff;
  transition: .2s all ease;
}


::-webkit-input-placeholder {
  color: #afafaf;
  text-overflow: ellipsis;
}



.green-outline {
  border: 1px green solid;
}

.green-outline:focus {
  border: 1px green solid;
}

.red-outline {
  border: 1px #e33855 solid;
}

.red-outline:focus {
  border: 1px #e33855 solid;
}

.gray-bg {
  background-color: #b2b2b2;
  border: 1px #aaaaaa solid;
}

input[type="text"]:disabled {
  background: #e8e8e8;
}

input[type="password"]:disabled {
  background: #e8e8e8;
}

@media only screen and (max-width: 550px) {
  .animated {
    margin-top: 0px;
  }
}

.invalid-feedback {
  text-align: start;
  color: #dc3545;
  margin-top: 5px;
}

.is-invalid {
  border-color: #dc3545;
}