
<div class="animated fadeIn">
  <div class="nomargin login">
    <img src="https://s3.amazonaws.com/zalate/public/img/logo-min.png" class="toolbar_logo" [routerLink]="['/']">
    <h1 *ngIf="realUID" class="login-title">Create New Password</h1>
    <div *ngIf="error" class="warning animated fadeIn">
      <a>{{errorText}}</a>
    </div>
 	
 	<div [hidden]="resetError || resetSuccessful" class="login-container" style="margin-top: 20px;">

 		<!--Checking if UID is valid-->
 		<img *ngIf="!realUID && loading" src="https://s3.amazonaws.com/zalate/public/img/spinner2.svg" style="width: 80px" />
 		<a *ngIf="!realUID && loading" class="checking-title">
 			Verifying Email Link
 		</a>

 		<!--If the UID is false-->
 		<img *ngIf="!realUID && !loading" src="https://s3.amazonaws.com/zalate/public/img/invalid.svg" style="width: 100px; margin-bottom: 30px;" />
 		<a *ngIf="!realUID && !loading" class="checking-title">
 			Invalid Email Reset Link
 		</a>
 		 <button *ngIf="!realUID && !loading" class="submit-button" style="margin-top: 20px;" [routerLink]="['/']">
          <a>Go Home</a>
        </button>


        <!--If UID is real-->
           <form [hidden]="!realUID" [formGroup]="fbForm" class="form-container" (ngSubmit)="submitPassword()">
     	

     	<div class="input-text">
						<img *ngIf="fbForm.controls['password'].valid" src="https://s3.amazonaws.com/zalate/public/img/check.svg" style="width: 23px; position: absolute; right: 35px; margin-top:12px;">
						<img *ngIf="!fbForm.controls['password'].valid && !fbForm.controls['password'].pristine" src="https://s3.amazonaws.com/zalate/public/img/x.svg" style="width: 23px; position: absolute; right: 35px; margin-top:12px;">
						<input type="password" placeholder="Password" class="text-field-login" formControlName="password" name="password" required
						autocomplete="off" [ngClass]="{'green-outline':fbForm.controls['password'].valid && !fbForm.controls['password'].pristine}">
					</div>
					<div class="input-text">
						<img *ngIf="fbForm.controls['password'].value == fbForm.controls['repeatPassword'].value && fbForm.controls['password'].valid"
						src=".https://s3.amazonaws.com/zalate/public/img/check.svg" style="width: 23px; position: absolute; right: 35px; margin-top:12px;">
						<img *ngIf="fbForm.controls['password'].value != fbForm.controls['repeatPassword'].value && fbForm.controls['password'].value == fbForm.controls['repeatPassword'].value"
						src="https://s3.amazonaws.com/zalate/public/img/x.svg" style="width: 23px; position: absolute; right: 35px; margin-top:12px;">
						<input type="password" placeholder="Repeat Password" class="text-field-login" formControlName="repeatPassword" name="repeatPassword"
						required autocomplete="off" [ngClass]="{'green-outline':fbForm.controls['repeatPassword'].valid && !fbForm.controls['repeatPassword'].pristine}">
					</div>


      <div class=" row p-s-5">
        <button type="submit" class="submit-button">
          <a *ngIf="!resetLoading">Confirm New Password</a>
          <img *ngIf="resetLoading" src="https://s3.amazonaws.com/zalate/public/img/spinner.svg" style="height: 35px; margin-top: 5px;">
        </button>
      </div>

    </form>

 	</div>


 	<div [hidden]="!resetError" class="login-container" style="margin-top: 20px;">

 		<!--If the UID is false-->
 		<img  src="https://s3.amazonaws.com/zalate/public/img/invalid.svg" style="width: 100px; margin-bottom: 30px;" />
 		<a  class="checking-title">
 			An Error Occured While Resetting Password
 		</a>
 		 <button  class="submit-button" style="margin-top: 20px;" [routerLink]="['/']">
          <a>Go Home</a>
        </button>

 	</div>


 		<div [hidden]="!resetSuccessful" class="login-container" style="margin-top: 20px;">

 	
 		<img  src="https://s3.amazonaws.com/zalate/public/img/check.svg" style="width: 100px; margin-bottom: 30px;" />
 		<a  class="checking-title">
 			Password Reset Successful!
 		</a>
 		 <button class="submit-button" style="margin-top: 20px;" [routerLink]="['/login']">
          <a>Login</a>
        </button>

 	</div>
   

  </div>
</div>